<div class="header">
  <nav class="navbar ">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/img/logo.png" />
      </a>
      <a class="nav-link" aria-current="page" routerLink="/gift-list" routerLinkActive="active-link">Trang chủ</a>
      <a class="nav-link" routerLink="/policy" routerLinkActive="active-link">Điều khoản</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Liên hệ</a>
      <a class="nav-link" routerLink="/user"><img *ngIf="user.name; else notLoggedInAva" class="header-login-img" src="../../../assets/img/loggedin.png" /></a>
      <a *ngIf="user.name; else notLoggedIn" class="nav-link" (click)="logout() " routerLinkActive="active-link"
        >Đăng xuất</a
      >
    </div>
    <div class="container-fluid">
      <div class="w-100 d-flex justify-content-end align-items-center">
        <div *ngIf="user.name" class="display-username nav-link py-0">
          Xin chào <strong>{{ user.name }}</strong>
          <span><img
            class="ms-3 me-2"
            src="../../../../assets/img/logo-mini.png"
            style="width: 20px;"
          />{{ user.point }}</span>
        </div>
      </div>
    </div>
  </nav>

  <carousel
    [noWrap]="false"
    [showIndicators]="true"
    [interval]="10000"
    [isAnimated]="true"
  >
    @for (slide of slides; track slide) {
    <slide>
      <img
        [src]="slide"
        alt="Random slide"
        style="display: block; max-width: 100%"
      />
    </slide>
    }
  </carousel>



  <div class="carousel-text">
    <h1><span>OCB</span><span>OMNI</span></h1>
    <h3>
      <span>Tốc độ</span><span class="o-span">o</span><span>An toàn</span
      ><span class="o-span">o</span><span>Tiện nghi</span>
    </h3>
    <h4>Giao dịch online, hoàn toàn miễn phí</h4>
  </div>
</div>

<app-login #loginModal></app-login>

<ng-template #notLoggedInAva>
  <img class="header-not-login-img" src="../../../assets/img/gray-ava.png" />
</ng-template>

<ng-template #notLoggedIn>
  <a class="nav-link" (click)="openLoginModal()" routerLinkActive="active-link">Đăng nhập</a>
</ng-template>
