.header {

  .carousel-caption {
    right: 1%;
    bottom: 43rem;
    left: 10%;
  }

  .nav-textarea {
    background-color: rgb(222, 218, 218);

    p {
      padding: 20px 0 20px 100px;
      font-size: 40px;
      color: #008b43;
    }
  }
  position: relative;
  .carousel-text {
    position: absolute;
    right: 60px;
    top: 250px;
    text-align: center;
    h1 {
      span:nth-child(1) {
        color: #008b43;
      }
      span:nth-child(2) {
        margin-left: 15px;
        color: #e39717;
      }
      font-size: 50px;
      margin-bottom: 15px;
    }

    h3 {
      span:nth-child(odd) {
        color: #008b43;
      }
      span:nth-child(even) {
        margin: 0 6px;
        color: #e39717;
      }
      margin-bottom: 10px;
      font-size: 30px;
    }

    h4 {
      color: #e39717;
    }
  }

  nav {
    top: 0;
    z-index: 999;
  }

  nav {
    .navbar-brand {
      min-width: 450px;
    }
    a {
      color: #008b43;
      margin: 0 15px;
      padding-bottom: 0;
      text-decoration: none;
      cursor: pointer;
      img {
        height: 55px;
      }

      .header-login-img {
        height: 30px;
        width: auto;
        align-self: center;
        pointer-events: none;
      }

      .header-not-login-img {
        height: 25px;
        width: auto;
        align-self: center;
        pointer-events: none;
      }
    }

    .active-link {
      color: #e39717;
    }

    .nav-link {
      font-size: 20px;
      
      .ava {
        font-size: 25px;
      }
    }
  }

  .display-username {
    color: #e39717;
    padding-right: 20px;

    .header-point-logo {
      width: 20px;

      @media (max-width: 576px) {
        width: 13px;
      }
    }
  }

  @media (max-width: 576px) {

    

    nav {


      padding-top: 0;
      .nav-link {
        font-size: 12px;
        margin: 0; 

        .ava {
          display: flex;
          font-size: 20px;
        }

        .ng-star-inserted {
          margin: 0 7px;
        }
        
      }

      .navbar-brand {
        margin: 0 ;
        min-width: 0 !important;
        max-width: 80px;
        img {
          height: 25px;
          
        }
      }

      .display-username {
        padding-right: 7px;
      }
    }

    .carousel-text {
      position: absolute;
      right: 15px;
      top: 97px;

      h1 {
        font-family: 'QuicksandBold', sans-serif;
        font-weight: 700;
        font-size: 17px;

        margin-bottom: 5px;

        span:nth-child(2) {
          margin-left: 5px;
        }
      }

      h3 {
        font-size: 12px;
        margin-bottom: 5px;

        span:nth-child(even) {
          margin: 0 3px;
          color: #e39717;
        }
      }

      h4 {
        font-size: 9px;
      }
    }
  }
}
