<div class="policy">
  <div class="nav-textarea">
    <h3>ĐIỀU KHOẢN & ĐIỀU KIỆN</h3>
  </div>

  <div class="policy-content">
    <p>
      Nội dung của các điều khoản và điều kiện dưới đây tạo thành một thỏa thuận Tiền gửi tiết kiệm theo quy định pháp luật, ràng buộc về mặt pháp lý giữa Khách hàng là người gửi tiền và OCB. Khi Khách hàng tham gia Sản phẩm Tiết kiệm điện tử kỳ hạn linh hoạt có nghĩa là Khách hàng đã chấp nhận các điều khoản và điều kiện dưới đây và sẽ chịu sự ràng buộc bởi các điều khoản và điều kiện này.
    </p>
    <p><strong>1.	Đối tượng tham gia</strong></p>
    <p>
      Công dân Việt Nam từ đủ 18 tuổi trở lên có năng lực hành vi dân sự đầy đủ đang sinh sống, hoạt động hợp pháp tại Việt Nam được mở và sử dụng tài khoản phù hợp với quy định của pháp luật Việt Nam..
    </p>
    <p><strong>2.	Loại tiền huy động</strong></p>
    <p>
      Loại tiền huy động là tiền đồng Việt Nam (đồng).
    </p>
    <p><strong> 3.	Quy định về số dư</strong></p>
    <p>
      Số dư tối thiểu khi mở tài khoản tiết kiệm OMNI Flex là 100,000 đồng. <br>

      Số dư tối đa: Theo quy định về hạn mức giao dịch chuyển tiền trong hệ thống OCB qua dịch vụ OCB OMNI.
    </p>
    <p><strong>4.	Phương thức mở tài khoản tiết kiệm OMNI Flex</strong></p>
    <p>
      Khách hàng sử dụng dịch vụ OCB OMNI để mở tài khoản tiết kiệm OMNI Flex đồng thời chuyển tiền từ tài khoản tiền gửi thanh toán của chính Khách hàng sang tài khoản tiền gửi tiết kiệm OMNI Flex.
    </p>
    <p><strong>5.	Kỳ hạn huy động</strong></p>
    <p>
      Từ 7 ngày đến 1095 ngày, linh hoạt theo nhu cầu của Khách hàng.
    </p>
    <p><strong>6.	Lãi suất</strong></p>
    <p>
      Theo biểu lãi suất sản phẩm do  OCB ban hành trong từng thời kỳ và được niêm yết tại.
    </p>
    <p><strong>7.	Phương thức tính lãi/trả lãi</strong></p>
    <p>
      -	Lãi được dự chi hàng ngày và trả một lần vào cuối kỳ. <br>

      -	Thời hạn tính lãi được xác định từ Ngày mở sổ đến hết ngày liền kề trước Ngày đến hạn (tính ngày đầu, bỏ ngày cuối của thời hạn tính lãi) . <br>

      -	Trong trường hợp tất toán trước hạn, Khách hàng sẽ được hưởng lãi suất không kỳ hạn tính trên số ngày thực gửi.
    </p>
  </div>

</div>
