.gift-item {
  .gift-item-individual {
    background-color: rgb(243, 241, 241);
    .gift-item-img {
      width: 190px;
      height: auto;
    }

    .point-logo {
      width: 20px;
      height: auto;
    }
  }

  .carousel-indicator {
    color: #008b43;
  }

}
