<div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <label class="col">Name</label>
          <input class="col" placeholder="Enter"/>
        </div>
        <div class="row">
          <label class="col">Password</label>
          <input class="col" placeholder="Enter"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Launch demo modal
  </button>

  <hr />

  <pre>{{ closeResult }}</pre>
</div>
