.gift-list {
  .btn-view-all {
    background-color: #e39717;
    border: none;
  }
  .category-checkbox {
    label {
      color: #e39717;
    }
  }

  .gift-item-list {
    margin: 50px 0 ;
    h5 {
      color: #e39717;
    }

    .category-list {
      h4 {
        padding-left: 0;
        margin: 0;
      }
      .img-hot {
        height: 50px;
        width: auto;
        padding-top: 0;
      }


    }
  }

  .no-filter-display {
    display: flex;
    justify-content: center;
    color: #e39717;
    padding: 70px 0;

  }

  .no-list-chosen {
    margin: 200px 0;
  }

  @media (max-width: 576px) {
    .nav-textarea .category-checkbox {
      .checkbox-group {
        label {
          font-size: 10px;
          
        }

        padding: 0;
      } 

      button {
        font-size: 10px;
        padding: 0;
        width: 90px;
      }
    }
  }

}
