.contact {
  .contact-wrapper {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form-wrapper {
    background-color: rgb(243, 241, 241);
    text-align: center;
    padding: 50px 50px 20px;
    margin: 100px 270px;

    .contact-form {
      padding: 2% 30px;
    }

    input,
    textarea {
      width: 100%;
    }

    .submit-btn {
      align-self: center;
      background-color: #e6bd5e;
    }
  }
}

@media (max-width: 576px) {
  .contact .contact-form-wrapper {
    padding: 50px 10px 0px;
    margin: 100px 10px;
  }
}
