
.nav-item {
    font-family: "Quicksand", sans-serif;
}
.sidebar .nav .nav-item .active-link {
    transition: none; 
    color: #e39717 !important;
    font-weight: bold ;
}

// .sidebar .nav.sub-menu .nav-item .nav-link:hover {
//     color: #e39717 !important;
// }

.sidebar .nav .active-menu {
    color: #e39717 !important;
    font-weight: bold ;
}