.header {
  .carousel-caption {
    right: 1%;
    bottom: 43rem;
    left: 10%;
  }

  .nav-textarea {
    background-color: rgb(222, 218, 218);

    p {
      padding: 20px 0 20px 100px;
      font-size: 40px;
      color: #008b43;
    }
  }

  .carousel-text {
    position: absolute;
    right: 100px;
    top: 200px;
    text-align: center;
    h1 {
      span:nth-child(1) {
        color: #008b43;
      }
      span:nth-child(2) {
        margin-left: 15px;
        color: #e39717;
      }
      font-size: 50px;
      margin-bottom: 15px;
    }

    h3 {
      span:nth-child(odd) {
        color: #008b43;
      }
      span:nth-child(even) {
        margin: 0 6px;
        color: #e39717;
      }
      margin-bottom: 10px;
      font-size: 30px;
    }

    h4 {
      color: #e39717;
    }
  }

  nav {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 3%;
  }

  .header-logo {
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 70px;
    height: 60px;
  }

  nav {
    a {
      color: #008b43;
    }

    a:nth-child(2) {
      color: #e39717;
    }
  }
}
