<div class="header">
  <nav class="nav justify-content-end">
    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
    <a class="nav-link" href="/policy">Điều khoản</a>
    <a class="nav-link" href="/contact">Liên hệ</a>
    <a class="nav-link" href="/login">Đăng nhập</a>
  </nav>

  <carousel
    [noWrap]="false"
    [showIndicators]="true"
    [interval]="10000"
    [isAnimated]="true"
  >
    @for (slide of slides; track slide) {
    <slide>
      <img
        [src]="slide"
        alt="Random slide"
        style="display: block; max-width: 100%"
      />
    </slide>
    }
  </carousel>



  <div class="header-logo">
      <img src="../../../assets/img/logo.png"/>
  </div>

  <div class="carousel-text">
    <h1><span>OCB</span><span>OMNI</span></h1>
    <h3>
      <span>Tốc độ</span><span class="o-span">o</span><span>An toàn</span
      ><span class="o-span">o</span><span>Tiện nghi</span>
    </h3>
    <h4>Giao dịch online, hoàn toàn miễn phí</h4>
  </div>
</div>


