.gift-list {
  .btn-view-all {
    background-color: #e39717;
    border: none;
  }
  .category-checkbox {
    label {
      color: #e39717;
    }
  }

  .gift-item-list {
    margin: 40px 0 70px;

    .category-list {
      h4 {
        padding-left: 0;
        margin: 0;
      }
      .img-hot {
        height: 50px;
        width: auto;
        padding-top: 0;
      }


    }
  }

  .no-filter-display {
    display: flex;
    justify-content: center;
    color: #e39717;
    padding: 70px 0;

  }

}
