<div class="gift-list">
  <div class="nav-textarea">
    <div class="category-checkbox d-flex">
      <span class="checkbox-group me-4 p-2">
        <input
          type="checkbox"
          [(ngModel)]="isHotFilter"
          (change)="filterHotData(isHotFilter)"
          id="hot-box"
        />
        <label class="ms-2" for="hot-box">QUÀ HOT TRONG TUẦN</label>
      </span>
      <span class="checkbox-group me-4 p-2">
        <input
          type="checkbox"
          [(ngModel)]="canExchangeFilter"
          (change)="filterCanExchangeData(canExchangeFilter)"
          id="can-exchange-box"
        />
        <label class="ms-2" for="can-exchange-box">QUÀ CÓ THỂ ĐỔI</label>
      </span>
      <span class="checkbox-group me-4 p-2">
        <input
          type="checkbox"
          [(ngModel)]="aboutToExchangeFilter"
          (change)="filterAboutToExchangeData(aboutToExchangeFilter)"
          id="about-to-exchange-box"
        />
        <label class="ms-2" for="about-to-exchange-box">QUÀ GẦN ĐỔI ĐƯỢC</label>
      </span>
      <button class="btn-view-all text-light ms-auto p-2" (click)="filterAll()">XEM TẤT CẢ</button>
    </div>
  </div>
  <div class="gift-item-list">
    <div *ngIf="showList.hot" class="category-list" >
      <div class="d-flex ms-3 me-5">
        <img
          src="../../../assets/img/hot.png"
          class="img-hot p-2 align-self-baseline"
        />
        <h4 class="p-2 align-self-center">QUÀ HOT TRONG TUẦN</h4>
        <hr class="flex-grow-1 align-self-center ms-3" />
      </div>
      <div *ngIf="noHotItemsFound; else hotList" class="no-filter-display">
        <h5>KHÔNG CÓ MÓN QUÀ NÀO THEO ĐIỀU KIỆN TÌM KIẾM</h5>
      </div>
      <ng-template #hotList>
        <app-gift-item [oddList]="true" [giftList]="hotGift"></app-gift-item>
      </ng-template>
    </div>

    <div *ngIf="showList.canExchange" class="category-list">
      <div class="d-flex mx-5">
        <hr class="flex-grow-1 align-self-center me-3" />
        <h4 class="p-2 align-self-center">QUÀ CÓ THỂ ĐỔI</h4>
      </div>
      <div *ngIf="noCanExchangItemsFound; else canExchangeList" class="no-filter-display">
        <h5>KHÔNG CÓ MÓN QUÀ NÀO THEO ĐIỀU KIỆN TÌM KIẾM</h5>
      </div>
      <ng-template #canExchangeList>
        <app-gift-item
          [oddList]="false"
          [giftList]="canExchangeGift"
        ></app-gift-item>
      </ng-template>
    </div>

    <div *ngIf="showList.aboutToExchange" class="category-list">
      <div class="d-flex mx-5">
        <h4 class="p-2 align-self-center">QUÀ GẦN ĐỔI ĐƯỢC</h4>
        <hr class="flex-grow-1 align-self-center ms-3" />
      </div>
      <div *ngIf="noAboutToExchangItemsFound; else aboutToExchangeList" class="no-filter-display">
        <h5>KHÔNG CÓ MÓN QUÀ NÀO THEO ĐIỀU KIỆN TÌM KIẾM</h5>
      </div>
      <ng-template #aboutToExchangeList>
        <app-gift-item [oddList]="true" [giftList]="aboutToExchangeGift"></app-gift-item>
      </ng-template>
    </div>
  </div>
</div>
