<div
  class="modal fade gift-modal"
  [ngClass]="{ show: visible }"
  *ngIf="visible"
  (click)="close()"
>
  <button (click)="close()" class="close-button modal-close-btn">X</button>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header ">
      <img
        class="gift-detail-img col-4"
        src="../../../../assets/img/vnmobile.png"
      />
      <div class="col-8 ps-4 pe-3 pt-3 row">
        <h4 class="text-success">{{ giftDetail.name ? giftDetail.name : "Name" }}</h4>
        <h6><em>Hiệu lực từ {{giftDetail.start_date ? giftDetail.start_date : "..."}} đến {{giftDetail.end_date ? giftDetail.end_date : "..."}}</em></h6>
        <h6><span class="text-warning">{{giftDetail.point ? giftDetail.point : "100"}} điểm</span> để đổi voucher</h6>
        <h5 class="col align-self-center text-danger">Vui lòng <strong>đăng nhập</strong> để tiếp tục đổi quà</h5>
      </div>
    </div>
    <div class="modal-body">
      <p>
        "But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings of the great
        explorer of the truth, the master-builder of human happiness. No one
        rejects, dislikes, or avoids pleasure itself, because it is pleasure,
        but because those who do not know how to pursue pleasure rationally
        encounter consequences that are extremely painful. Nor again is there
        anyone who loves or pursues or desires to obtain pain of itself, because
        it is pain, but because occasionally circumstances occur in which toil
        and pain can procure him some great pleasure. To take a trivial example,
        which of us ever undertakes laborious physical exercise, except to
        obtain some advantage from it? But who has any right to find fault with
        a man who chooses to enjoy a pleasure that has no annoying consequences,
        or one who avoids a pain that produces no resultant pleasure?"
      </p>
    </div>
  </div>
</div>

