.gift-item {
  .gift-item-individual {
    background-color: rgb(243, 241, 241);
    .gift-item-img {
      width: 230px;
      height: auto;

      @media (max-width: 600px) {
        width: 200px
      }

      @media (max-width: 400px) {
        width: 170px
      }
    }

    .point-logo {
      width: 20px;
      height: auto;
    }
  }

  .carousel-indicator {
    color: #008b43;
  }

}

.clickable-div {
  cursor: pointer;
}
