<div class="gift-item mb-3">
  <p-carousel
    [numVisible]="mobileViewport ? 1.5 : 4.5"
    [numScroll]="mobileViewport ? 1 : 4"
    [circular]="false"
    [value]="giftList"
    [showIndicators]="false"
    (onPage)="pageChange($event)"
  >
    <ng-template pTemplate="header">
      <div class="d-flex" [class.justify-content-end]="oddList">
        <span class="carousel-indicator"
          >{{ currentPage }}/{{ totalPage }}</span
        >
      </div>
    </ng-template>

    <ng-template let-gift pTemplate="item">
      <div
        class="border-1 surface-border m-2 p-3 gift-item-individual clickable-div"
        (click)="openGiftDetail(gift)"
      >
        <div class="mb-3" style="display: flex; justify-content: center;">
          <img
            [src]="gift.img"
            class="gift-item-img mx-auto border border-blue-500"
          />
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-xl">{{ gift.name }}</div>

          <span
            ><img
              class="point-logo"
              src="../../../../assets/img/logo-mini.png"
            />
            {{ gift.point | point }}</span
          >
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <app-gift-detail
    #giftDetailModal
    [giftDetail]="selectedGift"
  ></app-gift-detail>
</div>
