<p-toast />
<div
  class="modal fade gift-modal"
  [ngClass]="{ show: visible }"
  *ngIf="visible"
  (click)="close()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header row d-flex align-items-center">
      <img
        class="gift-detail-img col-md-4 col-12 mx-auto"
        [src]="giftDetail.img"
      />
      <div class="col-md-8 col-12 ps-4 pe-3 pt-3 row">
        <h4 class="text-success col-12 align-self-start quicksand-bold-2">
          {{ giftDetail.name ? giftDetail.name : "Name" }}
        </h4>
        <h6 class="col-12 align-self-start quicksand-italic-bold">
          <em
            >Hiệu lực từ
            {{ giftDetail.start_date ? giftDetail.start_date : "..." }} đến
            {{ giftDetail.end_date ? giftDetail.end_date : "..." }}</em
          >
        </h6>
        <h6 class="col-12 align-self-start quicksand-bold">
          <span class="text-warning">{{ giftDetail.point | point }} điểm</span>
          để đổi voucher
        </h6>
        <h6
          *ngIf="user.name == ''; else withUserTemplate"
          class="col-12 align-self-center text-danger text-center py-2"
        >
          Vui lòng <strong>đăng nhập</strong> để tiếp tục đổi quà
        </h6>
      </div>
    </div>
    <div class="modal-body">
      <ul class="quicksand-normal-2">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Curabitur et mauris iaculis, euismod magna id, tempor nulla.</li>
        <li>Duis lacinia lectus a nibh venenatis consequat.</li>
        <li>Duis lacinia lectus a nibh venenatis consequat.</li>
        <li>
          Nunc sodales sem in lectus fringilla, ac elementum metus tincidunt.
        </li>
      </ul>
    </div>
  </div>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>

<ng-template #withUserTemplate>
  <div
    class="col-12 d-flex justify-content-end"
    *ngIf="
      alreadyExchanged(giftDetail._id) == false;
      else alreadyExchangedTemplate
    "
  >
    <button
      class="btn gift-exchange-btn text-light quicksand-bold"
      (click)="exchangeGift()"
    >
      ĐỔI QUÀ
    </button>
  </div>
</ng-template>

<ng-template #alreadyExchangedTemplate>
  <h6
    class="col-12 align-self-center text-danger text-center py-2 quicksand-bold"
  >
    Quà đã được đổi
  </h6>
</ng-template>
